<body>

  <form method="post" action="{% url 'login' %}">
        
      {% csrf_token %}
      
      <h2>Create Account</h2>

      <input type="text" name="username" placeholder="NAME" value="{{ request.POST.username }}" required>

      <input type="text" name="department" placeholder="DEPARTMENT" required>

      <input type="text" name="year" placeholder="YEAR" required>

      <input type="password" name="password" placeholder="Password" required>

      <input type="password" name="re-password" placeholder="Re-Enter Password" required>

      <button type="submit">CREATE</button>

      

  </form>

</body>
